.restaurant-introduce{
    display: flex;
    gap: 20px;
    align-items: start;
    justify-content: space-between;
    margin: 1vh 0;
}

.title{
    display: flex;
    align-items: center;
    gap: 10px;
}

.description{
    width: 30%;
}

.description img:last-child{
    width: 100%;
    border-radius: .5rem;
}

.description h2{
    color: var(--logo-color);
    font-size: max(1.1vw,22px);
}

.description p{
    color: white;
    font-size: max(1vw,20px);
}

.description hr{
    border: none;
    height: 1px;
    background-color: #a0a0a0;
}

@media (max-width: 1050px){
    .restaurant-introduce{
        align-items: center;
        flex-direction: column;
    }

    .description{
        width: 80%;
    }
}

@media (max-width: 500px){
    .description{
        width: 100%;
    }

    .description p{
        font-size: .9rem;
    }
}

