JWT_SECRET="input your key"
DISTANCE_MATRIX_API=input your key
STORE_LOCATION=南投縣草屯鎮中正路1062巷9弄22號
PORT=80
MONGO_DB_URL=input your db url
FRONTEND_URL=http://localhost:443
BACKEND_URL=http://localhost:80