.result{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result .spinner{
    width: 100px;
    height: 100px;
    place-self: center;
    border: 5px solid #bdbdbd;
    border-top-color: tomato;
    border-radius: 50%;
    animation: rotate .5s infinite;
}

.result-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-width: 20vw;
    height: 450px;
    place-self: center;
}

.result-message img{
    min-height: 60px;
}

.success{
    color: #2caf60;
}

.fail{
    color: #e86060;
}

.payment-detail{
    padding: 2rem;
    border: 1px solid #b7b2b2;
    border-radius: 1rem;
    margin: 2.5rem 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title{
    color: grey;
}

.line-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
}

.continue{
    margin-top: 1.5rem;
    width: max(10vw,150px);
    padding: 12px 5px;
    background-color: black;
    border: none;
    color:white;
}

@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}

@media (max-width: 500px) {
    .payment-detail{
        padding: 1rem;
    }

    .line-info{
        gap: 60px;
    }
}