.order-result{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-info{
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    margin: 1vw auto;
    width: max(35%,400px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-info img{
    width: max(2.5vw,40px);
}

.result-info .success-message,
.result-info .fail-message{
    width: 70%;
}

.result-info p{
    margin-bottom: 20px;
    font-size:max(1vw,16px);
    color: black;
}

.result-info .title-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.result-info .title-info h3{
    font-size: max(1vw,20px);
}

.result-info .multi-field{
    display: flex;
    justify-content: space-between;
}

.result-info .shopping{
    font-size: max(.8vw,20px);
    padding: .5vw;
    border-radius: 5px;
    background-color: black;
    color: white;
    width: 100%;
    cursor: pointer;
}

.shopping a{
    color: inherit;
}

.order-result .spinner{
    margin: 25vh auto;
    width: 100px;
    height: 100px;
    place-self: center;
    border: 5px solid #bdbdbd;
    border-top-color: tomato;
    border-radius: 50%;
    animation: rotate .5s infinite;
}

@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}

@media (max-width: 500px) {
    .result-info{
        width: 100%;
    }

    .result-info .success-message,
    .result-info .fail-message{
        width: 100%;
    }
}

@media (max-width: 500px){
    .result-info p{
        font-size: 14px;
    }
}

