.footer{
    color: white;
    background:url('/black_board_img.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.foot p{
    margin: 0;
}


.footer-head span,
.footer-head a{
    font-size: max(2.5vw,25px);
}

.footer-head span:first-child{
    color: var(--logo-color);
}

.footer-head span:last-child{
    font-family: var(--ink-font-family);
    color: white;
}

.footer-head a{
    gap: 5px;
    display: flex;
    align-items: center;
}

.link{
    margin-bottom: 0;
    list-style: none;
    display: flex;
    gap: 2rem;
    color: white;
    font-weight: 500;
}

.link li{
    font-size: max(1vw,14px);
    cursor: pointer;
}

.link a{
    color: inherit;
    text-decoration: none;
}

.footer .apps{
    margin: 0;
    width: max(3vw,120px);
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.footer .apps img{
    cursor: pointer;
    width: max(2vw,35px);
 }

.footer-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-body p{
    font-size: max(1vw,14px);
    background: none;
}

.footer-body hr{
    width: max(50vw,350px);
    border: none;
    height: 1px;
    background-color: white;
}

